@charset "UTF-8";
body {
	backgroud-colr: lightyellow;
}
#joinForm_wrap {width:430px; margin: 10px auto; border: 1px solid green; padding:20px;}
#join_title{
	width:400px;            	margin:10px auto;
	padding-bottom:20px;     	border-bottom:1px solid green;
	color: darkgreen;          	font-size:1.5em;
	text-align:center;       	font-weight:bold;
}
#joinForm_wrap table{margin:0 auto; color: darkgreen;}
#joinForm_wrap table tr{height:40px; }
#joinForm_wrap table th{
	width:120px;        	font-size:0.9em;
	color:darkgreen;      	text-align:left;    	padding-left:10px;
}
#joinForm_wrap table td {width: 300px;}
.cid, .cpw, .cpwChk, .cname, .ctel, .cemail, .caddress, .cbirth, .cgender {
	border: 1px solid green; height:20px;	width:95%; padding:3px;
	outline:0;
}
.joinBtn_style {
	color: #ffffff;        	background: darkgreen;
	border:0;               outline: none;
	width:32%;              padding:5px 0; 
}